python-bidi==0.4.2
fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3
numpy<2.0.0
easyocr==1.7.1
opencv-python-headless==4.10.0.84
pillow==10.4.0
rapidfuzz==3.9.7
scikit-learn==1.5.2
pymupdf==1.24.10
cryptography==43.0.1
paramiko==3.5.0
boto3==1.35.32
